@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin fitImg() {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@mixin dropdown($color, $bgcolor, $opacity, $fsize, $hoverColor: $color, $hoverBgColor: false) {
  .dropdown-menu {
    color: $color;
    background-color: $bgcolor;
    opacity: $opacity;

    a {
      color: $color;
      font-size: $fsize;
    }
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    color: $hoverColor;
    @if $hoverBgColor {
      background-color: darken($hoverBgColor, $color-darken);
    } @else {
      background-color: $bgcolor;
    }

  }
}
