
.header-slider {
  // height: 100vh;
}
.slider {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  /* width: 100%;
  position: relative;
  box-sizing: border-box; */
  /* border: 1px solid black; */
  /* box-sizing: border-box;
  position: relative; */
}

.header .slider-inner {
  // background-color: rgba(0, 0, 0, 0.5);
  // width: 75vw;
  // height: 25vw;
  // border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  background: url('../img/baner-1.jpg') no-repeat center / cover;
  height: 100vh;
}

.header .slider_item_inner {
  // display: flex;
  // height: 100%;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // box-sizing: border-box;
}

.slick-list, .slick-track {
  height: 100%;
}

/*  Offers */
.offers {
  // padding: 0 2em;
  /* position: relative;
  width: 100%;
  box-sizing: border-box; */
}

.offers .slider-inner {
  // background-color: rgba(0, 0, 0, 0.5);
  /* width: 75vw; */
  // height: 15vw;
  // border: 1px solid black;
  // box-sizing: border-box;
  // position: relative;
}

.offers .slider_item_inner {
  // display: flex;
  // height: 100%;
  // align-items: center;
  // justify-content: center;
  // box-sizing: border-box;
}
