//Font
$mainFontFamily: 'Arial', sans-serif;
$secondFontFamily: 'Fira Sans', sans-serif;

//Font size
$mainFontSize: 14px;

//Size
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1199.98px;
$smDesktopWidth: 991.98px;
$tableWidth: 767.98px;
$phoneWidth: 575.98px;
$smPhoneWidth: 319.98px;

//Font color
$mainFontColor: #fff;
$secondFontColor: #000;
$thirdFontColor: #fbd341;

//Background color
$mainBgColor: #fff;
$secondBgColor: #fbd341f8f7f7;
$secondHeaderBgColor: #004c84;
$mainFooterBgColor: #22334d;
$secondFooterBgColor: #060a56;
$thirdFooterBgColor: #000;

//Button Color
$mainBtnColor: #fbd341;

//Dropdown Color
$mainDropdownColor: #f8f7f7;
$secondDropdownColor: #3397e2;




//Neutral color

//Border radius
$btnBorderRadius: 10px;
$imgBorderRadius: 5px;

//Opacity
$normal-opacity: 1;
$xlg-opacity: 0.9;
$lg-opacity: 0.8;
$md-opacity: 0.7;
$sm-opacity: 0.6;
$xsm-opacity: 0.55;
